/*** Colors ***/
$primary-color: color("blue-grey", "darken-1") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("deep-orange", "accent-2") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

.waves-effect.waves-deep-orange .waves-ripple {
  background-color: #ff6e40;
}
