
@import "components/color";
@import "variables";
@import "materialize";

@import "user";

body, label, .checkbox label {
  font-weight: 300;
}

.content {
  margin-top: 100px;
}

.login {
  font-weight: 200;
}

.brand-logo {
  margin-left: 10px;
  font-weight: 200;
}

.project.card {
  display: inline-block;
  width: 100px;
  margin: 5px;
}
